{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme formChangePassword 'bootstrap_4_layout.html.twig' %}

    {{ form_start(formChangePassword) }}
    <button type="submit" class="btn btn-success">Submit</button>
    {{ form_end(formChangePassword) }}


{% endblock %}