{% extends 'base.html.twig' %}

{% block body %}

    <h4>Change password</h4>

    {% form_theme formChangePassword 'bootstrap_4_layout.html.twig' %}

    {{ form_start(formChangePassword) }}
    {{ form_row(formChangePassword.password, {'label':"New password (at least 8 characters)",'attr':{'placeholder': "enter password"}}) }}
    {{ form_row(formChangePassword.confirm_password, {'label':"Confirm password",'attr':{'placeholder': "password"}}) }}

    <button type="submit" class="btn btn-success">Submit</button>
    {{ form_end(formChangePassword) }}


{% endblock %}