{% extends 'base.html.twig' %}
{% block body %}
    
    {% for singleSpecies in species %}
        <article>
        <h4><i>{{ singleSpecies.speciesNameWorms }}</i></h4>
            <img src="http://placehold.it/300x200" alt="">
            <a href="{{ path('species_details', {'wormsAphiaId' : singleSpecies.wormsAphiaId}) }}" class="btn btn-primary">Details</a>
            <a href="{{ path('occurrences_list', {'wormsAphiaId': singleSpecies.wormsAphiaId}) }}" class="btn btn-primary">Occurrences</a>
        </article>

    {% endfor %}



{% endblock %}