{% extends 'base.html.twig' %}
{% block body %}
    
    {% for singleSpecies in species %}
        <article>
        <h4><i>{{ singleSpecies.speciesNameWorms }}</i></h4>
            <img src="http://placehold.it/300x200" alt="">
            <a href="{{ path('species_details', {'id' : singleSpecies.id}) }}" class="btn btn-primary">Details</a>
        </article>

    {% endfor %}



{% endblock %}